@charset "UTF-8";

main {
  grid-template-columns: auto 300px 1fr auto;
}

#ficha {
  grid-column: 2 / 3;
  height: fit-content;
  position: sticky;
  top: 60px;
}

#apresentacao, #skills, #formacao, #projetos {
  grid-column: 3 / 4;
}

#apresentacao {
  grid-row: 1 / 2;
}

#skills {
  grid-row: 2 / 3;
}

#formacao {
  grid-row: 3 / 4;
}

#projetos {
  grid-row: 4 / 5;
}

#skills #areas {
  display: grid;
  grid-template: repeat(4, auto) / 1fr 1fr;
}

.card {
  width: 99%;
}

.card:hover {
  width: 98%;
}

#projetos div.info {
  width: 99%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

#projetos div.info:hover {
  width: 98%;
}

#projetos .imagem {
  aspect-ratio: 1/1;
  max-width: 20%;
  max-height: 200px;
}

.texto {
  max-width: 80%;
}